html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #000000;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.slot-machine {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 1080px;
  height: 100dvh;
  overflow: hidden;
  background-color: #000000;
}
.slot-machine__machine {
  position: relative;
  display: block;
  max-height: 1080px;
  height: 100%;
  width: 100%;
  background: url(../assets/slot-machine-lg.jpg) center bottom -100px no-repeat;
  background-size: 1920px;
  box-shadow: inset 0 0 20px #000000, inset 0 0 20px #000000, inset 0 0 20px #000000;
}
@media (max-width: 1540px) {
  .slot-machine__machine {
    background-size: 1540px;
  }
}
@media (max-width: 992px) {
  .slot-machine__machine {
    background-size: 1300px;
    background-position: center bottom 0px;
  }
}
@media (max-width: 370px) {
  .slot-machine__machine {
    background-size: 1000px;
  }
}
.slot-machine__machine-screen {
  position: absolute;
  left: 50%;
  bottom: 360px;
  width: 420px;
  aspect-ratio: 1.821138/1;
  border-radius: 6px;
  background-color: #080808;
  transform: translateX(-50%);
}
@media (max-width: 1540px) {
  .slot-machine__machine-screen {
    bottom: 265px;
    width: 336px;
  }
}
@media (max-width: 992px) {
  .slot-machine__machine-screen {
    bottom: 310px;
    width: 284px;
  }
}
@media (max-width: 370px) {
  .slot-machine__machine-screen {
    bottom: 237px;
    width: 220px;
  }
}
.slot-machine__machine-screen-video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slot-machine__machine-claim {
  position: absolute;
  bottom: 170px;
  left: calc(50% - 2px);
  display: inline-block;
  width: 148px;
  aspect-ratio: 2.826923/1;
  padding: 0;
  border: none;
  background: url(../assets/slot-machine-button.png) center no-repeat;
  background-size: cover;
  transform: translate3d(-50%, 0, 0);
  transition-property: filter, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  will-change: filter, transform;
  cursor: pointer;
}
@media (max-width: 1540px) {
  .slot-machine__machine-claim {
    bottom: 117px;
    width: 116px;
  }
}
@media (max-width: 992px) {
  .slot-machine__machine-claim {
    bottom: 188px;
    width: 96px;
  }
}
@media (max-width: 370px) {
  .slot-machine__machine-claim {
    bottom: 143px;
    width: 72px;
  }
}
.slot-machine__machine-claim:hover {
  filter: brightness(0.8) contrast(1.5);
}
.slot-machine__machine-claim:active {
  transform: translate3d(-50%, 4px, 0);
}